@use '../styles/colors';

footer {
  @include colors.themed('background-color', colors.$ui-05);
  @include colors.themed('color', colors.$ui-05-text);
  padding-bottom: calc(1em + env(safe-area-inset-bottom));
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em;
  text-align: center;

  a {
    @include colors.themed('color', colors.$ui-05-text);
  }
}
