@use '../styles/colors';

header {
  align-items: center;
  @include colors.themed('background-color', colors.$ui-05);
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  padding-bottom: 1em;
  padding-left: max(1em, env(safe-area-inset-left));
  padding-right: max(1em, env(safe-area-inset-right));
  padding-top: 1em;

  a {
    @include colors.themed('color', colors.$ui-05-text);
  }

  .SiteTitle {
    font-size: 1em;
    grid-column: 1 / 3;
    grid-row: 1;
  }

  NavBar {
    grid-column: 2 / 4;
    grid-row: 1;
  }
}
