@use '../styles/colors';

.PageWrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;

  main {
    padding-left: 1em;
    padding-right: 1em;

    a {
      color: colors.$link-01;
    }
  }
}
