@use '../styles/colors';

.Tag {
  align-items: center;
  @include colors.themed('background-color', colors.$interactive-01);
  border-radius: 1rem;
  display: inline-flex;
  justify-content: center;
  min-height: 1.5rem;
  min-width: 2rem;
  max-width: 100%;
  padding: 0.25rem 0.5rem;
  word-break: break-word;

  &:not(:first-child) {
    margin-left: 0;
  }

  &:hover {
    @include colors.themed('background-color', colors.$interactive-01-hover);
  }
}

.TagLink {
  text-decoration: none;
  @include colors.themed('color', colors.$interactive-01-text, '!important');
}
